/* Mobile First */

@media (min-width: 640px) {
  .smHidden { display: none; }
}

@media (min-width: 768px) {
  .mdFlex { display: flex; }
}

@media (min-width: 1024px) {
  .lgGrid { display: grid; }
}
